## Eclipse ignores
.settings/
.classpath
.project

## IDEA ignores
.idea/
*.iml

## Gradle
.gradle

## xText and Java ignores
generated/
src-gen/
xtend-gen/
xtext-gen/
*.xml_gen

## java ignores
*.class
bin/
target/
*.java._trace
*.smap
buildroot
build/
out/
velocity.log

## Editor ignores
*~
*.orig